body {
    font-family: sans-serif;
    }
    
    header {
    text-align: center;
    }
    
    nav {
    text-align: center;
    }
    
    main {
    width: 80%;
    margin: 0 auto;
    }
    
    footer {
    text-align: center;
    }
    